<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="xunit.diagnosticMessages" value="true"/>
    <!-- As we rely on static variables for counting the number of times 
         that a test is called, we cannot run the tests in parallel. -->
    <add key="xunit.maxParallelThreads" value="1"/>
  </appSettings>
  <specFlow>
    
    <unitTestProvider name="xUnit" />
    <plugins>
      <add name="XunitRetry" path="..\XunitRetry.Generator.SpecflowPlugin\bin\debug" type="Generator" />
    </plugins>
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
</configuration>